@model IList<MODEOUTLED.Models.News>
@{
    ViewBag.Title = "Quản lý tin tức";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("MultiDelete", "News", FormMethod.Post))
{
    <div class="Control">
        <ul>
            <li>@Html.ActionLink("Thêm mới", "NewsCreate", "", new { @class = "vadd" })</li>
                <li><input type="submit" value=" Xóa " class="mulDel" /></li>
            <li>@Html.ActionLink("Làm mới", "NewsIndex", "", new { @class = "vrefresh" })</li>
            <li> <a class="vback" href="javascript:void(0);" onclick="window.history.go(-1);">Trở lại</a></li>
        </ul>
    </div>
    <table class="TableView" border="1" id="myTable">
        <tr class="trHeader">
            <td class="CheckBoxsmall"><input type="checkbox" onclick="Javascript: chkSelectAll_OnClick(this)" id="chkSelectAll" /></td>
            <td class="Text">Tên tin mới</td>
            <td class="Image">Hình ảnh</td>
            <td class="DateTimesmal">Thời gian đăng tin</td>
            <td class="Function">Chức năng</td>
        </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i % 2 == 0)
                {
                     <tr id="trOdd_@i" class="trOdd" onmousemove="Javascript:chkSelect_OnMouseMove(this)" onmouseout="Javascript:chkSelect_OnMouseOut(this,0)">
                        <td class="CheckBoxsmall">@Html.CheckBox("chk" + Model[i].Id, new { id = "chkSelect", onclick = "Javascript:chkSelect_OnClick(this,0)", @class = "chk" })</td>
                        <td class="Text">@Html.DisplayFor(modelItem => Model[i].Name)</td>
                        <td class="Image"><img src="@Html.DisplayFor(modelItem => Model[i].Image)" style="width:90px; height:90px; margin-top:5px"  /></td>
                        <td class="DateTimesmal">@{@MODEOUTLED.Models.DateTimeClass.ConvertDateTimeddMMyyyy(Model[i].SDate.ToString());}<br />@Model[i].SDate.ToShortTimeString()</td>
                        <td class="Function">
                            @Html.ActionLink("Sửa", "NewsEdit", new { id = Model[i].Id }, new { @class = "vedit" }) 
                                @Html.ActionLink("Xóa", "NewsDelete", new { id = Model[i].Id }, new { @onclick = "return DeleteConfirm()", @class = "vdelete" }) 
                                @if (Model[i].Active == true)
                                {@Html.ActionLink("Active", "NewsActive", new { id = Model[i].Id }, new { @class = "vactive" })}
                                else
                                {@Html.ActionLink("Active", "NewsActive", new { id = Model[i].Id }, new { @class = "vnotactive" })}
                        </td>
                     </tr>
                }
                else
                {
                      <tr id="trEven_@i" class="trEven" onmousemove="Javascript:chkSelect_OnMouseMove(this)" onmouseout="Javascript:chkSelect_OnMouseOut(this,@i)">
                        <td class="CheckBoxsmall">@Html.CheckBox("chk" + Model[i].Id, new { id = "chkSelect", onclick = "Javascript:chkSelect_OnClick(this,0)", @class = "chk" })</td> 
                        <td class="Text">@Html.DisplayFor(modelItem => Model[i].Name)</td>
                        <td class="Image"><img src="@Html.DisplayFor(modelItem => Model[i].Image)" style="width:90px; height:90px; margin-top:5px"  /></td>
                        <td class="DateTimesmal">@{@MODEOUTLED.Models.DateTimeClass.ConvertDateTimeddMMyyyy(Model[i].SDate.ToString());}</td>
                        <td class="Function">
                            @Html.ActionLink("Sửa", "NewsEdit", new { id = Model[i].Id }, new { @class = "vedit" }) 
                                @Html.ActionLink("Xóa", "NewsDelete", new { id = Model[i].Id }, new { @onclick = "return DeleteConfirm()", @class = "vdelete" }) 
                                @if (Model[i].Active == true)
                                {@Html.ActionLink("Active", "NewsActive", new { id = Model[i].Id }, new { @class = "vactive" })}
                                else
                                {@Html.ActionLink("Active", "NewsActive", new { id = Model[i].Id }, new { @class = "vnotactive" })}
                        </td>
                      </tr>
                }

            }

    </table>
    @Html.Raw(ViewBag.Pager)
    <div class="Control">
        <ul>
            <li>@Html.ActionLink("Thêm mới", "NewsCreate", "", new { @class = "vadd" })</li>
                <li><input type="submit" value=" Xóa " class="mulDel" /></li>
            <li>@Html.ActionLink("Làm mới", "NewsIndex", "", new { @class = "vrefresh" })</li>
            <li> <a class="vback" href="javascript:void(0);" onclick="window.history.go(-1);">Trở lại</a></li>
        </ul>
    </div>
}