@model MODEOUTLED.Models.GroupSupport
@{
    ViewBag.Title = "Sửa nhóm hỗ trợ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Validate Data -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">$j = jQuery.noConflict();</script>

<script type="text/javascript">

    (function ($j, W, D) {

        var JQUERY4U = {};

        JQUERY4U.UTIL =
        {
            setupFormValidation: function () {
                //validation rules
                $j("#validatemodeoutled-form").validate({
                    rules: {
                        Name: "required",
                        Ord: "required",
                    },
                    messages: {

                        Name: "Nhập tên nhóm hỗ trợ",
                        Ord: "Nhập thứ tự nhóm hỗ trợ",

                    },
                    submitHandler: function (form) {
                        form.submit();
                    }
                });
            }
        }

        //when the dom has loaded setup form validation rules
        $j(D).ready(function ($) {
            JQUERY4U.UTIL.setupFormValidation();
        });

    })(jQuery, window, document);
</script>
<!-- End Validate Data -->

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("GroupSupportEdit", "Groupsupport", FormMethod.Post, new { @id="validatemodeoutled-form", @class="validate-form"}))
{
    @Html.ValidationSummary(true)
    <table class="TableUpdate" border="1">
        <tr>
            <td class="Control" colspan="2">
                <ul>
                    <li><input type="submit" value="Ghi lại "class="uupdate" /></li>
                    <li>@Html.ActionLink("Trở về", "GroupSupportIndex", "", new { @class = "uback" })</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Tên nhóm hỗ trợ<span style="color:red">(*)</span></th>
            <td>
                @Html.TextBoxFor(model => model.Name, new { @class = "text" })
            </td>
        </tr>
          <tr>
            <th>Thứ tự<span style="color:red">(*)</span></th>
            <td>
                @Html.TextBoxFor(model => model.Ord, new { @class = "text", @onkeypress = "OnlyInputNumber(0)" })
            </td>
        </tr>
        <tr>
            <th>Kích hoạt</th>
            <td>@Html.CheckBoxFor(m => m.Active)</td>
        </tr>
        <tr>
            <td class="Control" colspan="2">
                <ul>
                        <li><input type="submit" value="Ghi lại "class="uupdate" /></li>
                    <li>@Html.ActionLink("Trở về", "GroupSupportIndex", "", new { @class = "uback" })</li>
                </ul>
            </td>
        </tr>
            


    </table>
    
    
}