@model onsoft.Models.Baogia
<script type="text/javascript" src="~/Content/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="~/Content/ckfinder/ckfinder.js"></script>

@using (Html.BeginForm("EditBaogia", "Baogia", FormMethod.Post, new { enctype = "multipart/form-data", @id = "baogia-form", @class = "validate-form" }))
{
    @Html.HiddenFor(mm => mm.ID)
    <div class="widget-body">
        <div id="tabs">
            <div id="tabs-1">
                <table class="toolbar">
                    @Html.DropDownList("LinkModule", " === Chọn liên kết === ")
                    <tr>
                        <td class="key">
                            Name
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "text" })

                        </td>
                    </tr>
                    <tr>
                        <td class="key">
                            Phone
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Phone, new { @class = "text" })
                        </td>
                    </tr>

                    <tr>
                        <td class="key">
                            Email <span class="Required">*</span>
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Email, new { @class = "text" })
                        </td>
                    </tr>
                    <tr>
                        <td class="key">
                            Detail
                        </td>
                        <td>
                            @Html.TextArea("Detail")
                        </td>
                    </tr>
                    <tr>
                        <td class="key">
                            Active
                        </td>
                        <td>
                            @Html.CheckBox("Active", new { id = "Active", onclick = "Javascript:chkSelect_OnClick(this,0)", @class = "chk" })
                        </td>
                    </tr>

                </table>
                <button type="submit" class="toolbar btn btn-info"><i class="icon-save"></i>&nbsp;Ghi lại</button>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }
    $(function () {
        createEditor('vi', 'Detail');
    });
</script>
