<li><a class="link-topmenu" href="/Order/OrderIndexot"><i class="icon-bar-chart"></i>Tổng số đơn hàng: <span style="color: red;">(@Html.Raw(ViewBag.Tong))</span></a></li>
<li><a class="link-topmenu" href="/Order/OrderIndexot">Hàng mới: <span style="color: red; font-size: 16px; font-weight: bold">(@Html.Raw(ViewBag.Moi))</span></a></li>
<li><a class="link-topmenu" href="/Order/OrderIndexot">Đã nhận tiền: <span style="color: red;">(@Html.Raw(ViewBag.Nhantien))</span></a></li>
<li><a class="link-topmenu" href="/Order/OrderIndexot">Đã gửi hàng: <span style="color: red;">(@Html.Raw(ViewBag.Nhanguihang))</span></a></li>
<li><a class="link-topmenu" href="/Order/OrderIndexot">Đã hủy: <span style="color: red;">(@Html.Raw(ViewBag.Huy))</span></a></li>
